*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

CoffeeHouse/\.idea/
CoffeeHouse/target/

CoffeeUser/\.idea/
CoffeeUser/target/

CoffeeOrder/\.idea/
CoffeeOrder/target/

CoffeeApp/\.idea/
CoffeeApp/target/

CoffeeModels/target/
CoffeeModels/\.idea/


\.idea/

.DS_Store
vueClient/node_modules/
vueClient/dist/
vueClient/npm-debug.log*
vueClient/yarn-debug.log*
vueClient/yarn-error.log*

# Editor directories and files
vueClient/.idea
vueClient/.vscode
vueClient/*.suo
vueClient/*.ntvs*
vueClient/*.njsproj
vueClient/*.sln
